#messages{
    background-image: url('../../assets/chat-background.jpeg') ;
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: center;
    background-repeat: repeat; 
}